<html>
<head>
  <style>
    body .flex-container{
      flex-direction: row;
      display: flex;
        font-size: 30px;
        text-align: center;
        margin:250px
      padding:200px;
      
    }
    
    body .golu1{
      
      height:250px;
      width:250px;
      
    }
    
  </style>
<body>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class = "flex-container">
        
            <img class="d-block w-100 golu1"  src="Screenshot (4).png" alt="First slide">
        
            <img class="d-block w-100 golu1" src="Screenshot (5).png" alt="Second slide">
        
            <img class="d-block w-100 golu1" src="Black Hat Steps.png" alt="Third slide">
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> 
</body> 
</head>
</html>

body .srch{
  position: relative;
  padding:20px; 
  margin-right:20px;
  margin-left: 450px;
}

<form class="d-flex" role="search">            
  <input class="form-control me-2 srch" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success " type="submit">Search</button>
</form>